
.calculator {
    display: flex;
    box-sizing: border-box;
    background-color: #aaa;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #f6f6f6;
    border-radius: 12px;
    min-height: 122.5px;
}

.screen-value {
    padding-right: 20px;
    font-size: 36px;
}

.LastScreen-value {
    padding-right: 20px;
    font-size: 20px;
}

.btn-container {
    display: flex;
    max-height: 100%;
    flex-grow: 3;
    border-radius: 15px;
    flex-direction: column;
}

.btn-row {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 0px 8px 0px;
    max-height: 73.5px;
    gap: 8px;
}

.clear-btn{
    flex-grow: 1;
    height: 57px;
    border-radius: 12px;
    background-color: purple;
}

.del-btn {
    flex-grow: 1;
    height: 57px;
    border-radius: 12px;
    background-color: yellow;
}

.btn {
    flex-grow: 1;
    height: 57px;
    border-radius: 12px;
}

.op {
    background-color: green;
}

.equal {
 background-color: red;
}